﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Clinica.master.cs" Inherits="WebApplicationClinica.Clinica" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <form id="form1" runat="server" class="needs-validation" novalidate>
       <div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary" id="MiBarraNavegacion" runat="server">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Clinica</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">

                        <ul class="navbar-nav">
                            <li class="nav-item" id="LiMenu" runat="server" visible="false">
                                <a class="nav-link active" href="<%: ResolveUrl("~/MainMenu.aspx") %>">Menu</a>
                            </li>
                            <li class="nav-item" id="LiCrearTurno" runat="server" visible="false">
                                <a class="nav-link" href="<%: ResolveUrl("~/Turnos/CrearTurno.aspx") %>">Crear Turno</a>
                            </li>
                            <li class="nav-item" id="LiGestionTurnos" runat="server" visible="false">
                                <a class="nav-link" href="<%: ResolveUrl("~/Turnos/GestionTurno.aspx") %>">Gestion Turnos</a>
                            </li>
                            <li class="nav-item" id="LiPacientes" runat="server" visible="false">
                                <a class="nav-link" href="<%: ResolveUrl("~/Pacientes/Pacientes.aspx") %>">Alta Paciente</a>
                            </li>
                            <li class="nav-item" id="LiMenuMedico" runat="server" visible="false">
                                <a class="nav-link" href="<%: ResolveUrl("~/Medicos/MenuMedico.aspx") %>">Panel de Atencion</a>
                            </li>
                            <li class="nav-item" id="LiGestionMedicos" runat="server" visible="false">
                                <a class="nav-link" href="<%: ResolveUrl("~/Medicos/AgregarMedico.aspx") %>">Gestion Medicos</a>
                            </li>                            
                            <li class="nav-item" id="LiEspecialidades" runat="server" visible="false">
                                <a class="nav-link" href="<%: ResolveUrl("~/Medicos/Especialidades.aspx") %>">Gestion Especialidades</a>
                            </li>
                            <li class="nav-item" id="LiCrearUsuario" runat="server" visible="false">
                                <a class="nav-link" href="<%: ResolveUrl("~/Login y Usuarios/Crearusuario.aspx") %>">Crear Usuario</a>
                            </li>
                            
                        </ul>

                        <div class="d-flex align-items-center ms-auto" id="PanelUsuario" runat="server" visible="false">
                             <span class="navbar-text text-black me-3">
                                <i class="bi bi-person-circle"></i>
                                <asp:Label ID="LblUser" runat="server" Text="" CssClass="fw-bold"></asp:Label>
                            </span>

                            <asp:Button ID="BtnSalir" runat="server" Text="Cerrar Sesión"
                                CssClass="btn btn-outline-danger btn-sm" OnClick="BtnSalir_Click" />
                        </div>
                    </div>
                </div>
            </nav>

            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </form>
</body>
</html>
