﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Clinica.master.cs" Inherits="WebApplicationClinica.Clinica" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    <form id="form1" runat="server" class="needs-validation" novalidate>
        <%--NavBar: hay que esconderla  del login con code-behind,Por ahora esta de apoyo
            para navegar entre las paginas del frontEnd, al final cuando este todo bien
            definido, ponemos el CTA principal= Crear Turno y accesos rapidos a otros sitios
            usados--%>
        <div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/MainMenu.aspx">Menu</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/Turno/CrearTurno.aspx">Crear Turno</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="Pacientes.aspx">Alta Paciente</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </form>
</body>
</html>
